repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-ast
      - id: check-symlinks
      - id: detect-private-key
      - id: forbid-new-submodules
      - id: name-tests-test
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"

default_language_version:
  python: python3.12
